#head {
    width: 100%;
    height: 44px;
    background-color: black;


    .welcome {
        border-right: 1px solid #464444;
        height: 44px;
        width: 178px;

        span {
            line-height: 40px;
            vertical-align: middle;
            color: white;
        }
    }

    .language {
        border-right: 1px solid #464444;

        .button1 {
            border-radius: 0px;
            background-color: black;
            border: 0px;
            position: relative;
            top: 3px;

        }
    }

    .country {
        border-right: 1px solid #464444;

        .button2 {
            border-radius: 0px;
            background-color: black;
            border: 0px;
            position: relative;
            top: 3px;
        }

        ul img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: relative;
            left: 10px;
        }

        ul li {
            margin: 6px;
        }

        .usa {
            display: flex;
        }

        .nzd {
            display: flex;
        }

        .gmd {
            display: flex;
        }

        .ilr {
            display: flex;
        }

        .eur {
            display: flex;
        }

        .inr {
            display: flex;
        }

    }

    .basket,
    .heart {
        position: relative;
        width: 46px;
        height: 44px;
        border-right: 1px solid #464444;
        background-color: #ff5722;
        color: wheat;
        border-radius: 50%;

        i {
            font-size: 20px;
            color: white;
            position: absolute;
            top: 12px;
            left: 10px;
        }
    }

    .profile {
        border-right: 1px solid #464444;

        .btn-secondary {
            background-color: black;
            border-color: black;

        }

        img {
            width: 25px;
            height: 25px;
            border: 1px solid white;
            border-radius: 50%;
        }
    }

    .circles {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(255, 85, 0);
        position: absolute;
        top: 8px;
        right: 5px;

        sup {
            margin-left: 4px;
            color: white;
            font-weight: 500;
            top: -0.6em
        }

    }

    .dropdown-menu {
        .profile-i {
            display: flex;
        }

        .account-i {
            display: flex;
        }

        .message-i {
            display: flex;
        }

        .logout-i {
            display: flex;
        }

        i {
            position: relative;
            left: 10px;
            top: 8px;
            font-size: 20px;

        }



    }

    .navbar-logo {
        display: flex;
        justify-content: space-between;

        .input-search {
            input {
                border: none;
                padding: 6px 20px;
                width: 520px;

            }

            padding: 6px 0;
            background-color: #fff;
            border-radius: 4px 0 0 4px;
            position: relative;
        }
    }
}

#slider-body {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        .imageOneText {
            position: relative;

            h4 {
                position: absolute;
                z-index: 99;
                left: 473px;
                color: aliceblue;
                top: 175px;
            }

            h1 {
                position: absolute;
                z-index: 99;
                left: 114px;
                top: 210px;
                left: 372px;
                font-size: 83px;
                color: aliceblue
            }

            h2 {
                position: absolute;
                z-index: 99;
                left: 100px;
                top: 299px;
                left: 431px;
                font-size: 83px;
                color: aliceblue;
            }
        }




    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }
}

#navbar-search {
    .design-search {
        @import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

        position: absolute;
        margin: auto;
        top: 45px;
        right: 30px;
        width: 300px;
        height: 100px;

        .search {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background: rgb(255, 85, 0);
            border-radius: 50%;
            transition: all 1s;
            z-index: 4;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

            // box-shadow: 0 0 25px 0 crimson;
            &:hover {
                cursor: pointer;
            }

            &::before {
                content: "";
                position: absolute;
                margin: auto;
                top: 22px;
                right: 0;
                bottom: 0;
                left: 22px;
                width: 12px;
                height: 2px;
                background: white;
                transform: rotate(45deg);
                transition: all .5s;
            }

            &::after {
                content: "";
                position: absolute;
                margin: auto;
                top: -5px;
                right: 0;
                bottom: 0;
                left: -5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid white;
                transition: all .5s;
            }
        }

        input {
            font-family: 'Inconsolata', monospace;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
            outline: none;
            border: none;
            // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            background: rgb(255, 85, 0);
            ;
            color: white;
            text-shadow: 0 0 10px rgb(255, 85, 0);
            ;
            padding: 0 80px 0 20px;
            border-radius: 30px;
            box-shadow: 0 0 25px 0 rgb(255, 85, 0);
            
            
            // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
            transition: all 1s;
            opacity: 0;
            z-index: 5;
            font-weight: bolder;
            letter-spacing: 0.1em;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                width: 300px;
                opacity: 1;
                cursor: text;
            }

            &:focus~.search {
                right: -250px;
                background: #151515;
                z-index: 6;

                &::before {
                    top: 0;
                    left: 0;
                    width: 25px;
                }

                &::after {
                    top: 0;
                    left: 0;
                    width: 25px;
                    height: 2px;
                    border: none;
                    background: white;
                    border-radius: 0%;
                    transform: rotate(-45deg);
                }
            }

            &::placeholder {
                color: white;
                opacity: 0.5;
                font-weight: bolder;
            }
        }
    }

}

#navbar {
    .orang {
        a {
            background: red;
            width: 150px;
            height: 50px;
            padding: 11px;
            margin-top: -10px;
        }

    }

    background-color: #283593;

    .container {
        width: 100%;
        height: 50px;
        background-color: #283593;
        margin-left: 23px;
    }

    nav {
        position: absolute;
        left: 0;
        padding-left: 30px;
    }

    .btn {
        display: flex;
        margin-top: 3px;

        li {
            list-style: none;
            margin-right: 15px;

            &:hover {
                .home {
                    height: 150px;
                    width: 200px;

                    li {
                        text-align: left;
                    }
                }

                .shop {
                    height: 170px;
                    width: 200px;
                }

                .categories {
                    height: 270px;
                    width: 850px;

                    li {
                        text-align: left;
                    }
                }

                a {
                    &::before {
                        visibility: visible;
                        transform: scale(1, 1);
                    }
                }
            }

            .home {
                height: 130px;
                width: 200px;
            }

            .shop {
                height: 170px;
                width: 200px;
            }

            .categories {
                height: 270px;
                width: 1000px;
                display: flex;
                gap: 100px;
                text-align: left;
            }

            .submenu {
                overflow: hidden;
                position: absolute;
                top: 57px;
                background-color: whitesmoke;
                height: 0;
                line-height: 50px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                border-radius: 5px;
                z-index: 2;

                >li {
                    display: block;
                    text-align: left;
                }

                a {
                    color: black;
                    margin-top: 20px;
                    font-size: 16px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .product1 {
                    padding-top: 20px;

                    h5 {
                        color: rgb(49, 97, 231);
                        text-align: left;
                    }
                }
            }

            .hov {
                font-size: 18px;
                color: white;
                display: block;
                padding: 0 15px 0 7px;
                margin: 0 0 10px;
                text-decoration: none;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    bottom: -20px;
                    left: 0px;
                    background-color: rgb(255, 85, 0);
                    transition: all 0.3s ease-in-out;
                    transform: scale(0, 0);
                    visibility: hidden;
                }
            }

        }
    }
}

#icon-info {
    .info-box {

        .icon-image-text-one {
            background-color: whitesmoke;
            padding-top: 5px;
            padding-left: 100px;
            margin-top: -40px;
            width: 420px;
            height: 117px;

            border-radius: 10px;
            z-index: -1;
        }

        .icon-image-text-second {
            background-color: whitesmoke;
            padding-top: 5px;
            padding-left: 100px;
            margin-top: -40px;
            width: 420px;
            height: 117px;
        }

        .icon-image-text-three {
            background-color: whitesmoke;
            padding-top: 5px;
            padding-left: 100px;
            margin-top: -40px;
            width: 420px;
            height: 117px;
        }
    }

    .icon {
        position: relative;
        z-index: 99;
        width: 100px;
        height: 100px;
        background-color: #283593;
        border-radius: 50%;
        color: white;

        .cart {
            font-size: 35px;
            margin-top: 35px;
            margin-left: 32px;
        }

        .like {
            font-size: 35px;
            margin-top: 35px;
            margin-left: 32px;
        }

        .fire {
            font-size: 35px;
            margin-top: 35px;
            margin-left: 32px;
        }
    }

}

#brend-img {
    position: relative;
    display: contents;

    #brend-one {
        position: relative;

        #latest {
            position: absolute;
            top: 330px;
            left: 50px;
            color: whitesmoke;
        }

        .button {
            position: absolute;
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 15px;
            top: 410px;
            left: 50px;

        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .button1:hover {
            background-color: #008CBA;
            color: white;
        }

        .image-one {
            width: 420px;
            height: 515px;
            border-radius: 30px;
            margin-left: 20px;

        }
    }

    #brend-second {
        position: relative;

        #mens {
            position: absolute;
            top: 100px;
            left: 20px;
            color: whitesmoke;
        }

        #watches {
            position: absolute;
            top: 370px;
            left: 20px;
            color: whitesmoke;
        }

        .button {
            position: absolute;
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 15px;
            top: 160px;
            left: 20px;

        }

        .buttonon {
            position: absolute;
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 15px;
            top: 430px;
            left: 20px;

        }

        .button2 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .button2:hover {
            background-color: #008CBA;
            color: white;
        }

        .button3 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .button3:hover {
            background-color: #008CBA;
            color: white;
        }

        .image-second {
            width: 460px;
            height: 241px;
            border-radius: 30px;
        }

        .image-secondd {
            width: 460px;
            height: 241px;
            border-radius: 30px;
            margin-top: 32px;
        }

    }

    #brend-three {
        position: relative;

        #women {
            position: absolute;
            top: 100px;
            left: 150px;
            color: whitesmoke;
        }

        #accessories {
            position: absolute;
            top: 370px;
            left: 150px;
            color: whitesmoke;
        }

        .button {
            position: absolute;
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 15px;
            top: 160px;
            left: 150px;

        }

        .buttonon {
            position: absolute;
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 15px;
            top: 430px;
            left: 150px;

        }

        .button4 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .button4:hover {
            background-color: #008CBA;
            color: white;
        }

        .button5 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .button5:hover {
            background-color: #008CBA;
            color: white;
        }

        .image-three {

            width: 460px;
            height: 241px;
            border-radius: 30px;



        }

        .image-threee {
            width: 460px;
            height: 241px;
            border-radius: 30px;
            margin-top: 33px;
        }
    }


}

#cards {
    .img-text {
        .image-info-four {

            position: relative;

            h4 {
                position: absolute;
                top: -80px;
                left: 36px;
                color: aliceblue;

            }

            p {
                position: absolute;
                top: -40px;
                left: 38px;
                color: aliceblue;

            }
        }
    }

    .image-info-one {}

    .image-info-second {}

    .image-info-three {}



    .opcity {
        position: relative;
        background-color: gray;
        z-index: 1;
        border-radius: 15px;
        width: 338.5px;
        height: 433px;
    }

    .cards-icon {
        img {

            width: 338.5px;
            height: 433px;
            border-radius: 15px;
            filter: brightness(0.5)
        }

        ;
    }
}

#products {

    .card {}

    .box {
        position: relative;
        width: 100%;
        height: 262px;
        background-color: black;

        h2 {
            position: absolute;
            color: white;
            margin-top: 50px;
            margin-left: 30px;
        }
    }

    .products-area {
        color: white;
        display: flex;
        gap: 20px;

        p {
            margin-left: 40px;
            margin-top: 100px;
            cursor: pointer;
        }
    }
}

#tab-menu {
    margin-top: 80px;
    background-color: black;
    height: 260px;

    .my-container {
        width: 97%;
        margin: auto;
    }

    h2 {
        color: white;
        padding-top: 30px;
    }

    .tab {
        overflow: hidden;

        button {
            background-color: inherit;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        button:hover {
            background-color: white;
            color: black;
        }
    }

    .tab button.active {
        background-color: white;
        color: black;
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        color: white;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        span {
            color: black;
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        padding-top: 30px;
    }

    .product-info {
        color: #31333c;
        position: absolute;
        left: 20px;
    }

    .stars {
        position: absolute;
        color: #edb867;
        left: 20px;
    }

    .card-line {
        border: 0.5px solid #ebebeb;
        width: 288px;
        position: absolute;
        right: 0px;
        bottom: 38px;
    }

    .price {
        p {
            background-color: white;
            color: black;
            border-radius: 5px;
            box-shadow: 1px 1px #757575;
        }

        position: absolute;
        bottom: 130px;
        left: 10px;
        width: 90px;
    }

    .heart_icon {
        color: #757575;
        position: absolute;
        left: 11px;
        bottom: 12px;
    }

    .eye_icon {
        color: #757575;
        position: absolute;
        right: 11px;
        bottom: 12px;
    }

    .card-body {
        width: 100%;
        height: 141px;

        .basket_icon {
            background-color: #283593;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            position: absolute;
            bottom: 90px;
            right: 10px;

            .basket-icon {
                color: white;
                position: absolute;
                right: 18px;
                bottom: 19px;
                font-size: 22px;
            }
        }

        .basket-icon {
            color: white;
            position: absolute;
            right: 30px;
            font-size: 30px;
        }
    }
}

#slide-background {

    margin-top: 600px;
    z-index: 0;
    width: 100%;
    height: 786.4px;
    background-image: url(../img/plusBackgroundimg.png);

    .slide-icon {
        position: relative;

        i {
            position: absolute;
            width: 20px;
            height: 20px;
            z-index: 55;
        }
    }

    .slide-image {
        position: absolute;

        img {

            margin-top: 95px;
            margin-left: 145px;
            filter: brightness(0.5);

        }

    }
}

#subscribe {


    width: 100%;
    height: 300px;
    background-color: #283593;

    .checkbox-icon {



        .area-style {
            color: whitesmoke;
            margin-left: 38%;
        }

        img {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            left: 45%;
            right: 50%;
            top: -50px;
        }

        ;
    }

    .login-box {
        position: absolute;
        width: 300px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, .5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;
        height: 100px;
        left: 740px;
        top: 225px;
    }

    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .login-box .user-box {
        position: relative;
    }

    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
    }

    .login-box form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
    }

    .login-box a:hover {
        background: #03e9f4;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
    }

    .login-box a span {
        position: absolute;
        display: block;
    }

    .login-box a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: btn-anim1 1s linear infinite;
    }

    @keyframes btn-anim1 {
        0% {
            left: -100%;
        }

        50%,
        100% {
            left: 100%;
        }
    }

    .login-box a span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
    }

    @keyframes btn-anim2 {
        0% {
            top: -100%;
        }

        50%,
        100% {
            top: 100%;
        }
    }

    .login-box a span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
    }

    @keyframes btn-anim3 {
        0% {
            right: -100%;
        }

        50%,
        100% {
            right: 100%;
        }
    }

    .login-box a span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
    }

    @keyframes btn-anim4 {
        0% {
            bottom: -100%;
        }

        50%,
        100% {
            bottom: 100%;
        }
    }

    .area {
        position: relative;
    }
}

#download-app {
    width: 100%;
    height: 150px;

    .line {
        border-left: 2px solid black;
        height: 60px;
        margin-left: 50px;
        margin-top: 50px;


    }

    .apple {
        margin-left: 150px;
        margin-top: 55px;
        position: relative;
        display: flex;

        i {
            font-size: 40px;
        }

        h4 {
            margin-top: 5px;
            margin-left: 20px;
            color: black;
        }
    }

    .android {
        margin-left: 20px;
        margin-top: 55px;
        position: relative;
        display: flex;

        i {
            font-size: 40px;
        }

        h4 {
            margin-top: 5px;
            margin-left: 20px;
            color: black;
        }
    }

}

#footer{
    color: whitesmoke;
    width: 100%;
    background-color: black;
    p{
        cursor: pointer;

       
    }

    a {
        overflow: hidden;
        position: relative;
        display: inline-block;
        
      }
      
      a::before,
      a::after {
       content: '';
        position: absolute;
        width: 100%;
        left: 0;
      }
      a::before {
        background-color: #ff5722;
        height: 2px;
        bottom: 0;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
      }
      a::after {
        content: attr(data-replace);
        height: 100%;
        top: 0;
        transform-origin: 100% 50%;
        transform: translate3d(200%, 0, 0);
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
        color: #ff5722;
      }
      
      a:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
      a:hover::after {
        transform: translate3d(0, 0, 0);
      }
      
      a span {
        display: inline-block;
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
      }
      
      a:hover span {
        transform: translate3d(-200%, 0, 0);
      }
      a {
        text-decoration: none;
        color: #ff5722;
        font-weight: 700;
        vertical-align: top;
        color: whitesmoke;
      }
}