
@{
    ViewData["Title"] = "Index";
}

<section id="slider-body">
    <div class="container my-5">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="imageOneText">
                        <h4>2019 Latest Collection</h4>
                        <h1>New Fashion</h1>
                        <h2>Collection</h2>
                    </div>
                    <img src="./assets/img/bodyslider1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <div class="imageOneText">
                        <h4>2019 Latest Collection</h4>
                        <h1>New Fashion</h1>
                        <h2>Collection</h2>
                    </div>
                    <img src="./assets/img/bodyslider2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <div class="imageOneText">
                        <h4>2019 Latest Collection</h4>
                        <h1>New Fashion</h1>
                        <h2>Collection</h2>
                    </div>
                    <img src="./assets/img/bodyslider3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>



<section id="icon-info">
    <div class="icon-img">
        <div class="container my-5">
            <div class="row">
                <div class="col-4">
                    <div class="info-box">
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping cart"></i>
                        </div>
                        <div class="icon-image-text-one">
                            <h4 id="icon-one">Free Shipping</h4>
                            <span id="icon-text-three">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
                                perferendis
                                suscipit.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="info-box">
                        <div class="icon">
                            <i class="fa-solid fa-thumbs-up like"></i>
                        </div>
                        <div class="icon-image-text-second">
                            <h4 id="icon-second">24X7 Support</h4>
                            <span id="icon-text-second">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Facere, perferendis
                                suscipit.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="info-box">
                        <div class="icon">
                            <i class="fa-solid fa-fire fire"></i>
                        </div>
                        <div class="icon-image-text-three">
                            <h4 id="icon-three">Best Price</h4>
                            <span id="icon-text-three">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
                                perferendis
                                suscipit.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="brend-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div id="brend-one">
                    <img class="image-one" src="./assets/img/brend2.png" alt="">
                    <h4 id="latest">
                        Latest Collections <br>
                        Save Upto 60%
                    </h4>
                    <button class="button button1">Shop Now</button>
                </div>
            </div>
            <div class="col-4">
                <div id="brend-second">
                    <img class="image-second" src="./assets/img/kasaa.png" alt="">
                    <h4 id="mens">
                        Mens Collections <br>
                        Save Upto 40%
                    </h4>
                    <button class="button button2">Shop Now</button>
                    <img class="image-secondd" src="./assets/img/watch.png" alt="">
                    <h4 id="watches">
                        Watches Collections <br>
                        Save Upto 50%
                    </h4>
                    <button class="buttonon button3">Shop Now</button>
                </div>
            </div>
            <div class="col-4">
                <div id="brend-three">
                    <img class="image-three" src="./assets/img/bag.png" alt="">
                    <h4 id="women">
                        Women's Collections <br>
                        Save Upto 30%
                    </h4>
                    <button class="button button4">Shop Now</button>
                    <img class="image-threee" src="./assets/img/sneakre.png" alt="">
                    <h4 id="accessories">
                        Accessories Collections <br>
                        Save Upto 60%
                    </h4>
                    <button class="buttonon button5">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="cards">
    <div class="container-fluid">
        <h3 style="margin-left:20px ;margin-top: 80px;">Shop By Category</h3>
        <div class="row ">
            <div class="cards-icon d-flex justify-content-around my-5">
                <div class="col-3 opcity">
                    <div class="img-text">
                        <a href=""><img src="./assets/img/Cart1.jpg" alt=""></a>
                        <div class="image-info-four">
                            <h4>Cothing</h4>
                            <p>9 products</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 opcity">
                    <div class="img-text">
                        <a href=""><img src="./assets/img/Cart1.jpg" alt=""></a>
                        <div class="image-info-four">
                            <h4>Shoes</h4>
                            <p>5 products</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 opcity">
                    <div class="img-text">
                        <a href=""><img src="./assets/img/Cart3.jpg" alt=""></a>
                        <div class="image-info-four">
                            <h4>Accesories</h4>
                            <p>
                            <p>12 products</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 opcity">
                    <div class="img-text">
                        <a href=""><img src="./assets/img/Cart4.jpg" alt=""></a>
                        <div class="image-info-four">
                            <h4>GADGETS</h4>
                            <p>
                            <p>2 products</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tab-menu">
    <div class="my-container">
        <div class="row">
            <h2>New Products</h2>
            <div class="tab ">
                <button class="tablinks active" onclick="openTabMenu(event, 'Accessories')">Accessories</button>
                <button class="tablinks" onclick="openTabMenu(event, 'Gadgets')">Gadgets</button>
                <button class="tablinks" onclick="openTabMenu(event, 'Men')">Men</button>
                <button class="tablinks" onclick="openTabMenu(event, 'Women')">Women</button>
            </div>

            <div id="Accessories" class="tabcontent " style="display: block;">
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper" id="getcard">
                        <div class="card swiper-slide" style="width: 18rem;">
                            <div class="price">
                                <p id="price">$15.75</p>
                            </div>
                            <img src="./assets/img/ackii.jpg" id="img" alt="">
                            <div class="card-body">
                                <p id="productname" class="product-info">Summer Goggles</p>
                                <div class="basket_icon">
                                    <i style="cursor: pointer;" class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                </div>
                                <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                <div class="stars">
                                    <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                </div>
                                <div class="card-line"></div>
                                <i style="cursor: pointer;" class="fa-solid fa-heart heart_icon"></i>
                                <i style="cursor: pointer;" class="fa-solid fa-eye eye_icon"></i>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$38.31</p>
                                </div>
                                <img src="./assets/img/sumka.jpg" alt="" id="img">
                                <div class="card-body">
                                    <p class="product-info" id="productname">Men Belts</p>
                                    <div class="basket_icon">
                                        <i style="cursor: pointer;" class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i style="cursor: pointer;" class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i style="cursor: pointer;" class="fa-solid fa-heart heart_icon"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$56.75</p>
                                </div>
                                <img src="./assets/img/sep.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Steel Chain</p>
                                    <div class="basket_icon">
                                        <i style="cursor: pointer;" class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>
                                    <i style="cursor: pointer;" class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i style="cursor: pointer;" class="fa-solid fa-heart heart_icon"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-eye eye_icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$15.75</p>
                                </div>
                                <img src="./assets/img/kemer.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Men Purse</p>
                                    <div class="basket_icon">
                                        <i style="cursor: pointer;" class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i style="cursor: pointer;" class="fa-solid fa-heart heart_icon"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-eye eye_icon"></i>

                                </div> style="cursor: pointer;"
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$92.75</p>
                                </div>
                                <img src="./assets/img/kaslok.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Laptop Backpack</p>
                                    <div class="basket_icon">
                                        <i style="cursor: pointer;" class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i style="cursor: pointer;" class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i style="cursor: pointer;" class="fa-solid fa-heart heart_icon"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Gadgets" class="tabcontent">
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper" id="getcard">
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$847.63</p>
                                </div>
                                <img src="./assets/img/222.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Iphone 14 pro max</p>
                                    <div class="basket_icon">
                                        <i style="cursor: pointer;" class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i style="cursor: pointer;" class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i style="cursor: pointer;" class="fa-solid fa-heart heart_icon"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$357.75</p>
                                </div>
                                <img src="./assets/img/2-1png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Digital Watch</p>
                                    <div class="basket_icon">
                                        <i style="cursor: pointer;" class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star"></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                        <i style="cursor: pointer;" class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i style="cursor: pointer;" class="fa-solid fa-heart heart_icon"></i>
                                    <i style="cursor: pointer;" class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$357.75</p>
                                </div>
                                <img src="./assets/img/2-2pmg.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Digital Watch</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$989</p>
                                </div>
                                <img src="./assets/img/2-3png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Men Purse</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$125.75</p>
                                </div>
                                <img src="./assets/img/2-4png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Wired Headphone</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="Men" class="tabcontent">
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper" id="getcard">
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$18.75</p>
                                </div>
                                <img src="./assets/img/4-4png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Super Jacket</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$40.82</p>
                                </div>
                                <img src="./assets/img/3-1png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Blue Jean</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$56.75</p>
                                </div>
                                <img src="./assets/img/3-2png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Vinnatge Jean</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$22.75</p>
                                </div>
                                <img src="./assets/img/3-3png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Black T-shirt</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$92.75</p>
                                </div>
                                <img src="./assets/img/3-4png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Men White Air</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div id="Women" class="tabcontent">
                <div class="swiper mySwiper3">
                    <div class="swiper-wrapper" id="getcard">
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$19.75</p>
                                </div>
                                <img src="./assets/img/4-1.png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">White T-Shirt</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$97.82</p>
                                </div>
                                <img src="./assets/img/4-2png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Red Strip Dress</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$15.75</p>
                                </div>
                                <img src="./assets/img/4-3png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Red Dress</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card swiper-slide" style="width: 18rem;">
                                <div class="price">
                                    <p id="price">$49.75</p>
                                </div>
                                <img src="./assets/img/4-4png.jpg" id="img" alt="">
                                <div class="card-body">
                                    <p id="productname" class="product-info">Blue Denim</p>
                                    <div class="basket_icon">
                                        <i class="fa-sharp fa-solid fa-basket-shopping basket-icon"></i>
                                    </div>

                                    <i class="fa-solid fa-thumbs-up thumbs_info"></i>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star "></i>
                                        <i class="fa-solid fa-star "></i>
                                    </div>
                                    <div class="card-line"></div>
                                    <i class="fa-solid fa-heart heart_icon"></i>
                                    <i class="fa-solid fa-eye eye_icon"></i>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<section id="slide-background">
    <div class="container-fluid my-5">
        <div class="slide-icon">
            <div class="slide-image">
                <img src="./assets/img/sliderr.png" alt="">
            </div>
            <i class="fa-thin fa-gear"></i>
        </div>
    </div>
</section>


<section id="subscribe">
    <div class="area my-5">
        <div class="checkbox-icon my-5">
            <img src="./assets/img/checkbox.png" alt="">
            <div class="area-style">
                <h3>Subscribe Our Newsletter</h3>
                <span>Stay up to date with our latest new and products</span>
            </div>
            <div>
                <div class="login-box">
                    <form>
                        <div class="user-box">
                            <input type="text" name="" required="">
                            <label>Your email adress</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="download-app">
    <div class="container my-5">
        <div class="row d-flex justify-content-around my-5">
            <div class="col-4">
                <div class="apple">
                    <i class="fa-brands fa-apple"></i>
                    <h4>Download IOS app</h4>
                </div>
            </div>
            <div class="col-1">
                <div class="line"></div>
            </div>
            <div class="col-4">
                <div class="android">
                    <i class="fa-brands fa-android"></i>
                    <h4>Download Android app</h4>
                </div>
            </div>
        </div>
    </div>
</section>

